/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 100%; }
  */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;}

body {
  height: 100%;
  margin: 0;
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  background: #edf2f7;}

.hidden {
  display: none; }



/*entry*/
.entry_bg{
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: rgb(25,120,188);
  background: -moz-linear-gradient(top,  rgba(25,120,188,1) 0%, rgba(25,122,190,1) 18%, rgba(28,127,194,1) 24%, rgba(25,127,193,1) 26%, rgba(28,130,196,1) 26%, rgba(26,130,193,1) 28%, rgba(29,133,196,1) 29%, rgba(27,133,195,1) 30%, rgba(30,136,198,1) 33%, rgba(27,135,197,1) 33%, rgba(31,141,202,1) 37%, rgba(29,142,200,1) 38%, rgba(32,147,204,1) 40%, rgba(31,147,204,1) 42%, rgba(34,150,207,1) 43%, rgba(33,149,206,1) 43%, rgba(35,151,208,1) 44%, rgba(34,153,209,1) 45%, rgba(33,153,206,1) 46%, rgba(38,155,209,1) 47%, rgba(36,157,210,1) 48%, rgba(41,163,214,1) 51%, rgba(40,162,213,1) 52%, rgba(44,164,216,1) 53%, rgba(43,163,213,1) 53%, rgba(46,166,216,1) 54%, rgba(44,164,214,1) 54%, rgba(47,167,217,1) 55%, rgba(51,172,219,1) 57%, rgba(53,171,217,1) 57%, rgba(61,176,220,1) 61%, rgba(65,178,222,1) 61%, rgba(78,184,223,1) 65%, rgba(83,187,226,1) 66%, rgba(83,187,224,1) 67%, rgba(90,190,226,1) 68%, rgba(92,190,225,1) 69%, rgba(95,192,227,1) 69%, rgba(105,196,227,1) 72%, rgba(108,197,229,1) 72%, rgba(107,196,226,1) 73%, rgba(110,197,227,1) 73%, rgba(113,196,226,1) 74%, rgba(120,199,229,1) 77%, rgba(120,197,225,1) 77%, rgba(123,200,228,1) 77%, rgba(127,199,224,1) 81%, rgba(130,195,223,1) 83%, rgba(128,194,220,1) 86%, rgba(127,191,218,1) 86%, rgba(128,192,219,1) 87%, rgba(124,188,216,1) 88%, rgba(125,189,217,1) 88%, rgba(123,187,215,1) 89%, rgba(121,185,213,1) 89%, rgba(122,186,214,1) 90%, rgba(118,182,210,1) 92%, rgba(116,179,212,1) 93%, rgba(114,179,209,1) 93%, rgba(113,178,208,1) 93%, rgba(111,176,206,1) 94%, rgba(112,177,209,1) 94%, rgba(107,172,204,1) 96%, rgba(107,171,206,1) 96%, rgba(103,169,203,1) 97%, rgba(103,169,204,1) 98%, rgba(101,167,201,1) 98%, rgba(99,164,202,1) 99%, rgba(97,163,198,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(25,120,188,1) 0%,rgba(25,122,190,1) 18%,rgba(28,127,194,1) 24%,rgba(25,127,193,1) 26%,rgba(28,130,196,1) 26%,rgba(26,130,193,1) 28%,rgba(29,133,196,1) 29%,rgba(27,133,195,1) 30%,rgba(30,136,198,1) 33%,rgba(27,135,197,1) 33%,rgba(31,141,202,1) 37%,rgba(29,142,200,1) 38%,rgba(32,147,204,1) 40%,rgba(31,147,204,1) 42%,rgba(34,150,207,1) 43%,rgba(33,149,206,1) 43%,rgba(35,151,208,1) 44%,rgba(34,153,209,1) 45%,rgba(33,153,206,1) 46%,rgba(38,155,209,1) 47%,rgba(36,157,210,1) 48%,rgba(41,163,214,1) 51%,rgba(40,162,213,1) 52%,rgba(44,164,216,1) 53%,rgba(43,163,213,1) 53%,rgba(46,166,216,1) 54%,rgba(44,164,214,1) 54%,rgba(47,167,217,1) 55%,rgba(51,172,219,1) 57%,rgba(53,171,217,1) 57%,rgba(61,176,220,1) 61%,rgba(65,178,222,1) 61%,rgba(78,184,223,1) 65%,rgba(83,187,226,1) 66%,rgba(83,187,224,1) 67%,rgba(90,190,226,1) 68%,rgba(92,190,225,1) 69%,rgba(95,192,227,1) 69%,rgba(105,196,227,1) 72%,rgba(108,197,229,1) 72%,rgba(107,196,226,1) 73%,rgba(110,197,227,1) 73%,rgba(113,196,226,1) 74%,rgba(120,199,229,1) 77%,rgba(120,197,225,1) 77%,rgba(123,200,228,1) 77%,rgba(127,199,224,1) 81%,rgba(130,195,223,1) 83%,rgba(128,194,220,1) 86%,rgba(127,191,218,1) 86%,rgba(128,192,219,1) 87%,rgba(124,188,216,1) 88%,rgba(125,189,217,1) 88%,rgba(123,187,215,1) 89%,rgba(121,185,213,1) 89%,rgba(122,186,214,1) 90%,rgba(118,182,210,1) 92%,rgba(116,179,212,1) 93%,rgba(114,179,209,1) 93%,rgba(113,178,208,1) 93%,rgba(111,176,206,1) 94%,rgba(112,177,209,1) 94%,rgba(107,172,204,1) 96%,rgba(107,171,206,1) 96%,rgba(103,169,203,1) 97%,rgba(103,169,204,1) 98%,rgba(101,167,201,1) 98%,rgba(99,164,202,1) 99%,rgba(97,163,198,1) 100%);
  background: linear-gradient(to bottom,  rgba(25,120,188,1) 0%,rgba(25,122,190,1) 18%,rgba(28,127,194,1) 24%,rgba(25,127,193,1) 26%,rgba(28,130,196,1) 26%,rgba(26,130,193,1) 28%,rgba(29,133,196,1) 29%,rgba(27,133,195,1) 30%,rgba(30,136,198,1) 33%,rgba(27,135,197,1) 33%,rgba(31,141,202,1) 37%,rgba(29,142,200,1) 38%,rgba(32,147,204,1) 40%,rgba(31,147,204,1) 42%,rgba(34,150,207,1) 43%,rgba(33,149,206,1) 43%,rgba(35,151,208,1) 44%,rgba(34,153,209,1) 45%,rgba(33,153,206,1) 46%,rgba(38,155,209,1) 47%,rgba(36,157,210,1) 48%,rgba(41,163,214,1) 51%,rgba(40,162,213,1) 52%,rgba(44,164,216,1) 53%,rgba(43,163,213,1) 53%,rgba(46,166,216,1) 54%,rgba(44,164,214,1) 54%,rgba(47,167,217,1) 55%,rgba(51,172,219,1) 57%,rgba(53,171,217,1) 57%,rgba(61,176,220,1) 61%,rgba(65,178,222,1) 61%,rgba(78,184,223,1) 65%,rgba(83,187,226,1) 66%,rgba(83,187,224,1) 67%,rgba(90,190,226,1) 68%,rgba(92,190,225,1) 69%,rgba(95,192,227,1) 69%,rgba(105,196,227,1) 72%,rgba(108,197,229,1) 72%,rgba(107,196,226,1) 73%,rgba(110,197,227,1) 73%,rgba(113,196,226,1) 74%,rgba(120,199,229,1) 77%,rgba(120,197,225,1) 77%,rgba(123,200,228,1) 77%,rgba(127,199,224,1) 81%,rgba(130,195,223,1) 83%,rgba(128,194,220,1) 86%,rgba(127,191,218,1) 86%,rgba(128,192,219,1) 87%,rgba(124,188,216,1) 88%,rgba(125,189,217,1) 88%,rgba(123,187,215,1) 89%,rgba(121,185,213,1) 89%,rgba(122,186,214,1) 90%,rgba(118,182,210,1) 92%,rgba(116,179,212,1) 93%,rgba(114,179,209,1) 93%,rgba(113,178,208,1) 93%,rgba(111,176,206,1) 94%,rgba(112,177,209,1) 94%,rgba(107,172,204,1) 96%,rgba(107,171,206,1) 96%,rgba(103,169,203,1) 97%,rgba(103,169,204,1) 98%,rgba(101,167,201,1) 98%,rgba(99,164,202,1) 99%,rgba(97,163,198,1) 100%);
}
.entry_container{
  width: 300px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}
.entry_container .topic{
  font-family: "RobotoMedium";
  font-size: 30px;
  margin: 0 0 30px;
  display: block;
}
.log_form{
  position: relative;
}
.log_form input{
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  padding: 20px 40px;
  text-align: left;
  background: transparent;
  margin: 0 0 20px;
  color: #fff;
  font-size: 18px;
  position: relative;
}
.log_form label.log:before{
  content: "";
  position: absolute;
  top: 20px;
  left: 13px;
  width: 19px;
  height: 20px;
  background: url('../img/sprite.png') no-repeat 0 0;
}
.log_form label.ps:before{
  content: "";
  position: absolute;
  top: 104px;
  left: 13px;
  width: 19px;
  height: 20px;
  background: url('../img/sprite.png') no-repeat -26px 0px;
}
.log_form label.ps:after{
  content: "";
  position: absolute;
  top: 106px;
  right: 13px;
  width: 19px;
  height: 20px;
  background: url('../img/sprite.png') no-repeat -52px 0px;
}
.log_form input::-webkit-input-placeholder {color:#fff;}
.log_form input::-moz-placeholder          {color:#fff;}
.log_form input:-moz-placeholder           {color:#fff;}
.log_form input:-ms-input-placeholder      {color:#fff;}

.log_form .entrance{
  width: 100%;
  padding: 20px 40px;
  text-align: center;
  border: 0;
  background: #228fc2;
  font-family: "RobotoMedium";
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  margin: 0 0 20px;
}
.log_form .entrance:hover{
  background: #167eaf; 
}
.log_form .bottom_form{
  text-align: center;
  position: relative;
}
.log_form .bottom_form input{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 0 15px;
}
.log_form .bottom_form .password_link{
  display: inline-block;
  border-bottom: 1px dashed #fff;
  color: #fff;
}
.log_form .bottom_form .password_link:hover{
  border: 0;
} 
.log_form input[type=checkbox]{
  display: none;
}
.log_form .bottom_form label{
  display: block;
  margin: 0 0 15px;
  cursor: pointer;
}
.log_form .bottom_form label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 55px;
  top: -3px;
  border: 1px solid #fff;
}
.log_form input[type=checkbox]:checked + label:before{
  content: "\2713"; 
  background: #228fc2;
}

/*reports*/
.menu_block{
  background: #228fc2;
}
.logo_block{
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #1e82b0;
}
.admin_cont{
  padding: 35px 5px 30px 30px;
  color: #fff;    
  border-bottom: 1px solid #1e82b0;
  position:relative;
}
.admin_cont:hover{
  background: #edf2f7;
  color:#228fc2;
  cursor: pointer;
  transition: all 1s ease 0s;
}
.admin_cont:hover .img_admin_block {
  border-color:#228fc2;
  background-position: -1px -37px;
}
#sidebar .admin_cont .info {
  text-align: center;
  padding: 10px 47px 0 0;
}

.img_admin_block{
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 0 0 90px;
  overflow: hidden;
  background: url(../img/admin-sprite.png) no-repeat -1px 5px;
}
.img_admin_block img{
  width: 100%;    
  height: 85%;
  margin: 7px 0 0;
}
#side .admin_cont .info{
  overflow: hidden;    
  line-height: 20px;
  padding-top: 25px;
}
.navigation li{
  line-height: 30px;
  font-size: 18px;
  border-bottom: 1px solid #1e82b0;
}
.navigation li a{
  color: #fff;
  display: block;
  position: relative;
  padding: 20px 20px 20px 90px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.navigation li a:before{
  content: "";
  position: absolute;
  top: 20px;
  left: 30px;
  width: 26px;
  height: 26px;
  background: url(../img/sprite.png);
}
.navigation li a.reports:before{
  background-position: 0 -25px;
}
.navigation li a.developments:before{
  background-position: 0 -57px;
}
.navigation li a.date:before{
  background-position: 0 -87px;
}
.navigation li a.settings:before{
  background-position: 0 -117px;
}
.navigation li a.reports:hover:before,
.navigation li a.reports.active:before{
  background-position: -25px -25px;
}
.navigation li a.developments:hover:before,
.navigation li a.developments.active:before{
  background-position: -31px -57px;
}
.navigation li a.date:hover:before,
.navigation li a.date.active:before{
  background-position: -31px -87px;
}
.navigation li a.settings:hover:before,
.navigation li a.settings.active:before{
  background-position: -32px -117px;
}
.navigation li a:hover,
.navigation li a.active{
  color: #228fc2;
  background: #edf2f7;
}
.navigation .news{
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px 7px;
  background: #e75c5c;
  border-radius: 3px;
  font-size: 10px;
  text-align: center;
  color: #fff;
}
.content {
  position: relative;
}
.sandwich {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  left: 10px;
  background: #228fc2;
  border: none;
  outline: none;
  border-radius: 2px;
  display: none; 
  cursor: pointer;}
  .sandwich .sw-topper {
    position: relative;
    top: -6px;
    width: 30px;
    height: 3px;
    background: #edf2f7;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
            transition: transform 0.5s, top 0.2s;
    display: block; }
  .sandwich .sw-bottom {
    position: relative;
    width: 30px;
    height: 3px;
    top: 0;
    background: #edf2f7;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
            transition: transform 0.5s, top 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
            transition-delay: 0.2s, 0s;
    display: block; }
  .sandwich .sw-footer {
    position: relative;
    width: 30px;
    height: 3px;
    top: 6px;
    background: #edf2f7;
    border: none;
    border-radius: 4px 4px 4px 4px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    display: block; }

.sandwich.active .sw-topper {
  top: 3px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }
.sandwich.active .sw-bottom {
  top: 0px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.reports_container{
  float: right;
 padding: 25px 50px;
  width: 79%;
}
.topic_cont{
  font: 18px "RobotoMedium";
  color: #323332;
  margin-bottom: 15px;
}
.top_container_head{
  overflow: hidden;
  margin: 0 0 30px;
}
.top_container_head li:first-child a{
  border-left: 0;
}
.top_block_head_left,
.top_container_head .top_block_head_left ul{
  float: left;
}
.top_block_head_right{
  float: right;
}
.top_container_head ul{
  overflow: hidden;
  border: 1px solid #228fc2;
  border-radius: 4px;
}
.top_container_head li{
  float: left;
  color: #228fc2;
  cursor: pointer;
}
.top_container_head li span{
  color: #228fc2;
  padding: 10px 25px;
  display: block;
}
.top_container_head li a{
  color: #228fc2;
  padding: 10px 25px;
  display: block;
  border-left: 1px solid #228fc2;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.top_container_head li a:hover,
.top_container_head li a.active{
  color: #fff;
  background: #228fc2;
}
.filters_block{
  padding: 15px 25px;
  border: 1px solid #eaeaea;
  background: #fff;
  margin: 0 0 30px;
  width: 170px;
  cursor: pointer;
}
.filters_block strong{
  position: relative;
}
.topic_container{
  font-size: 18px;
  display: block;
}
.filters_block strong:before{
  content: "";
  position: absolute;
  top: 3px;
  left: 90px;
  width: 24px;
  height: 16px;
  background: url(../img/sprite.png) 0 -150px;
}
.search_cont{
  padding: 30px 34px;
  background: #fff;
  width: 20%;
  /*width: 600px;*/
  margin: 0 60px 30px 0;
  border: 1px solid #EAEAEA;
}
.user-hierarchy .search_cont{
  width: 100%;
}
.content_block .topic_container{
  margin: 0 0 30px;
}
.content_block input{
 /* width: 100%;*/
  width:250px;
  margin: 0 10px  15px 0;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 15px 20px 15px 7px;
  font-size: 14px;
  color:#a1a1a1;
}
.content_block input::-webkit-input-placeholder {color:#a1a1a1;}
.content_block input::-moz-placeholder          {color:#a1a1a1;}
.content_block input:-moz-placeholder           {color:#a1a1a1;}
.content_block input:-ms-input-placeholder      {color:#a1a1a1;}

.apply,.apply_event,  .settings_disciples .reset{
  background: #5cb128;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  border: 0;
  padding: 13px;
  box-shadow: 0px -3px 0px 0px #4D9220 inset;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}
.apply:hover,.apply_event:hover{
  background: #519B24;
}



 .sandwich-wrap {
  position: relative;
  color: #a1a1a1;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  margin: 0 0 15px;
  width: 100%;
}
 .sandwich-wrap.sandwich-open {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
 .sandwich-button {
  position: absolute;
  text-indent: -9999px;
  background-image: url(../img/spritesheet.png);
  background-position: 0px -52px;
  width: 15px;
  height: 9px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
 .sandwich-block li {
  font-size: 14px;
  display: block;
  float: none;
}
 .sandwich-block span {
  width: 100%;
  padding: 15px 20px 15px 7px;
  color: #a1a1a1;
  cursor: pointer;
  display: block;
  font-size: 14px; 
  border-bottom: 1px solid #e2e2e2; 
}
 .sandwich-block span:hover {
  color: #000;
}
 .sandwich-block {
  display: none;
  position: absolute;
  left: 0;
  margin-left: -1px;
  width: 250px;
  top: 45px;
  background: #fff;
  z-index: 999;
  text-align: center;
  border: 1px solid #EAEAEA;
  border-top: none;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  height: 220px;
  overflow-y: scroll;
}
 .sandwich-block::scrollbar {
    width: 4px;
}
 .sandwich-block::scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 .sandwich-block::scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 .sandwich-block::-webkit-scrollbar {
    width: 4px;
}
 .sandwich-block::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 .sandwich-block::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 .sandwich-block ul {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 0;
}
 .sandwich-cont {
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  display: block;
  padding: 15px 20px 15px 7px;
  font-size: 14px;
  display: block;
}
.button_rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}



.event_cont{
  margin-left: 350px;
}
.event_cont li{
  width: 30.5%;
  margin: 0px 0px 30px 27px;
  padding: 20px 20px 0 20px;
  background: #fff;
  border: 1px solid #EAEAEA;
  display: inline-block;
}
.topic_event{
  display: block;
  font-size: 16px;
  color: initial;
  text-align: center;
  padding: 0 0 15px;
  border-bottom: 1px solid #EAEAEA;
  text-transform: uppercase;
}
.event_info{
  margin: 30px 0 0;
  overflow: hidden;
}
.event_info li{
  display: block;
  color: #333;
  border: 0;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
}
.event_info li .left_info{
  width: 40% ;
  display: inline-block;
  font-size: 16px;
  color: #7B7F7A;
  font-weight: bold;
}
.event_info li .right_info{
  width: 60%;
  float: right;
  font-size: 18px;
  word-wrap: break-word;
  color: #989A98;
}
.event_info li span {
padding-bottom: 10px;
}
.arrow_top{
  width: 11px;
  height: 16px;
  display: inline-block;
  margin: 0 0 0 10px;
  background: url(../img/sprite.png) -1px -172px;
}
.arrow_top.arrow_bottom{
  width: 11px;
  height: 16px;
  display: inline-block;
  margin: 0 0 0 10px;
  background: url(../img/sprite.png) -15px -172px;
}


/* event */
.event {
  float: right;
  width: 79%;
}
.event-main,
.event-special {
  display: inline-block;
  margin: 15px 50px 0 0 ;
  vertical-align: top;
}
.event h3 {
  font: 18px "RobotoMedium";
  color: #323332;
  margin-bottom: 15px;
}
.event-block p {
  color: #4A4A4A;
  font-size: 16px;
  font-family: "RobotoRegular";
  background: #fff;
  margin: 5px 0;
  width: 250px;
  padding: 11px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
}
.add-button,
.green-button ,#emplee_registry{
  color: #fff;
  font: 18px "RobotoMedium";
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px 25px;
  background: #5CB127;
  display: block;
  width: 250px;
  margin: 5px 0;
  text-align: center;
  position: relative;
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(77,146,32,1);
  -moz-box-shadow: inset 0px -3px 0px 0px rgba(77,146,32,1);
  box-shadow: inset 0px -3px 0px 0px rgba(77,146,32,1);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}
.add-button:hover,
.green-button:hover {
  background: #519B24;
}
.add-button:active,
.green-button:active {
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(77,146,32,1);
  -moz-box-shadow: inset 0px 3px 0px 0px rgba(77,146,32,1);
  box-shadow: inset 0px 3px 0px 0px rgba(77,146,32,1);
}
.add-button:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 13px;
}
.add-button.more:before {
    background-position: 0px 20px;
}
.event-block ul {
  display: inline-block;
}
.event-block ul li {
  display: inline-block;
  position: relative;
  margin: 0 6px;
}
.event-block .event-home {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: 0px -20px;
  width: 17px;
  height: 16px;
}
.event-block .event-home.active {
  background-position: -20px 0px;
}
.event-block .event-edit{
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: -37px 0px;
  width: 16px;
  height: 16px;
  z-index: 9;
  position: relative;
}
.event-block .event-edit.active {
  background-position: -17px -20px;
  z-index: 9999;
}
.event-block .event-delete {
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-position: 0px -36px;
  width: 12px;
  height: 16px;
  cursor: pointer;
}
.event-block .event-delete:hover{
  background-position: 12px 0px;
}
.edit-special,
.edit-main {
  display: none;
  position: absolute;
  top: 55px;
  right: -11px;
  background: #fff;
  padding: 13px 26px 5px;
  z-index: 99;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.5);
}
#create_general_event:before,
.edit-special:before,
.edit-main.edit-block:before{
  content: ''!important;
  position: absolute;
  display: block;
  width: 38px;
  height: 42px;
  background: #fff;
  top: -39px;
  right: 0px;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0px -7px 22px -5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px -7px 22px -5px rgba(0,0,0,0.1);
  box-shadow: 0px -7px 22px -5px rgba(0,0,0,0.1);
}
.edit-special h4,
.edit-main h4 {
  font: 16px "RobotoMedium";
}
.event-block input,
.add-edit-block input ,#wrapper_list input,.updateEvent_wrap input{
  color: #4A4A4A;
  font-family: "RobotoRegular";
  background: #fff;
  padding: 9px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  margin: 15px 0;
  width: 270px;
}
.sandwich-data {
  text-align: right;

}
.sandwich-data span {
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/spritesheet.png);
  background-position: 0px -52px;
  width: 15px;
  height: 9px;
  margin-right: 15px;
}
.edit-special .edit-data,
.edit-main .edit-data {
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #E2E2E2;
  padding: 4px 6px;
  width: 270px;


  display: none;
  margin-top: 10px;
}
.edit-special .edit-data span,
.edit-main .edit-data span {
  background: #EEF3F6;
  color: #474948;
  font: 14px "RobotoRegular";
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 0 28px 0 8px;
  display: inline-block;
  position: relative;
  margin: 2px 1px;
}
.edit-special .edit-data .edit-close,
.edit-main .edit-data .edit-close {
  background-image: url(../img/spritesheet.png);
  background-position: -37px -16px;
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 3px;
  top: 50%;
  margin-top: -7px;
}
.edit-special .edit-data .edit-close:hover,
.edit-main .edit-data .edit-close:hover {
  opacity: .7;
}
.edit-special .green-button,
.edit-main .green-button {
  margin: 24px 0;
  width: 100%;
  text-transform: uppercase;
}
.edit-special .edit-date {
  margin: 0 0 15px;
  position: relative;
}
.edit-special .edit-date:after {
  content: '';
  display: table;
  clear: both;
}
.edit-special .edit-date span {
  font: 14px/14px "RobotoRegular";
  vertical-align: middle;
  margin-bottom: 10px;
  display: inline-block;
}
.edit-special .edit-month,
.edit-special .edit-day {
  position: relative;
  text-align: center;
  padding: 7px 6px;
  display: inline-block;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.edit-special .edit-month {
  width: 180px;
  float: left;
  height: 30px;
}
.edit-special .edit-day {
  width: 70px;
  float: right;
  height: 30px;
}
.edit-special .edit-month:after,
.edit-special .edit-day:after {
  content: '';
  display: table;
  clear: both;
}
.event .arrow-left,
.event .arrow-right {
  background-image: url(../img/spritesheet.png);
  width: 9px;
  height: 14px;
  display: inline-block;

}
.event .arrow-left:hover,
.event .arrow-right:hover {
  opacity: .6;
}
.event .arrow-left {
  background-position: -12px -36px;
  float: left;
}
.event .arrow-right {
  background-position: -21px -36px;
  float: right;
}
.edit-main .checkbox-wrap {
  margin: 2px 0 15px;
}

.edit-main .echeckbox-wrap ul {
  text-align: center;
}
.edit-main .checkbox-wrap li:first-child {
  margin-left: 0;
}
.edit-main .checkbox-wrap li,.updateEvent_wrap .checkbox-wrap li {
  margin: 0 0 0 5px;
  display: inline-block;
}

.edit-main .checkbox-wrap li span,.updateEvent_wrap .checkbox-wrap li span{
  width: 30px;
  padding: 7px 0;
  cursor: pointer;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font: 14px/14px "RobotoRegular";
  display: inline-block;
  text-align: center;
  border: 1px solid #E2E2E2;
}
.edit-main .checkbox-wrap li span.active,.updateEvent_wrap .checkbox-wrap li span.active {
  background: #5CB127;
  color: #fff;
  width: 30px;
  padding: 8px 0;
  border: none;
}
#create_special_event:before,
#create_general_event:before{
  display: none;
}

.add-edit-block {
  padding: 0;
  position: relative;
  display: none;
}
.add-edit-block .edit-block {
  display: block;
  left: 0;
  width: 322px;
}
.add-edit-block .edit-main:before {
  display: none;
}

/*event*/

.top_block_head_left .search {
  float: right;
  margin: 0px 35px;
  overflow: hidden;
  position: relative;
  width: 115px;
}
.top_block_head_left .search input {
  background-color: transparent;
  color: #228FC2;
  padding: 9px 32px 11px 12px;
  width: 100%;
  border: 0;
  border: 1px solid #228fc2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.top_block_head_left .search input:focus {
  outline: none; 
}
.top_block_head_left .search input::-webkit-input-placeholder{
  color:#228fc2;
  font-size: 17px;}
.top_block_head_left .search input::-moz-placeholder{
  color:#228fc2;
  font-size: 17px;}
.top_block_head_left .search input:-moz-placeholder{
  color:#228fc2;
  font-size: 17px;}
.top_block_head_left .search input:-ms-input-placeholder{
  color:#228fc2;
  font-size: 17px;}

.top_block_head_left .search .search_btn{
  position: absolute;
  top: 8px;
  right: 10px;
  background: url('../img/sprite.png') no-repeat -39px -168px;
  width: 19px;
  height: 20px;
  border: 0;
  cursor: pointer;
}
.top_block_head_left .search .search_btn:hover,
.top_block_head_left .search .search_btn:focus,
.top_block_head_left .search .search_btn:active{
  outline: none;
}
.top_block_head_right .import{
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 10px 12px 10px 35px;
  position: relative;
  background: #5cb128;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 4px;
}
.top_block_head_right .import:before{
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;
  background: url('../img/sprite.png') no-repeat 0 -197px;
  width: 14px;
  height: 14px;
}
.top_block_head_right .import:hover{
    background: #519B24;
}

/* table */

.search_cont,
.evelopments_content_table,
.settings-table {
  display: inline-block;
  vertical-align: top;
}
.settings-table,
.evelopments_content_table {
  margin-bottom: 25px;
}

/*tabs links*/
.selectTabs {
margin:25px 0 0;
width: 100%;
} 
.lineTabs {
width:100%;
float:left;
list-style:none;
margin-top:20px;
}
.lineTabs li {
margin: 0 0 -1px 10px;
display: inline-block;
position:relative;
z-index:1;
border:1px solid #EAEAEA;


top: -21px;
}
.lineTabs li.active {
border-bottom:1px solid #fff;
}
.lineTabs li.active a {
color:#000;
}
.lineTabs a {
padding:4px 15px;
display:block;
text-decoration:none;
color:#A1A1B5;
font-size:12px;
text-transform:uppercase;
}
/*tabs content*/
.tab_content {


border:1px solid #EAEAEA;
position:relative;
}
.tab_content table {
display:none;
}
.tab_content .tab1 {
display:block;
}


.evelopments_content_table,
.settings-table  {
  border: 1px solid #EAEAEA;
  background: #fff;
  padding: 4px 0 0;
}
.evelopments_content_table table tr:nth-child(odd),
.settings-table table tr:nth-child(odd) {
  background: #FBFBFB;
}
.evelopments_content_table table tr:first-child,
.settings-table table tr:first-child {
  background: #fff;
  font: 16px "RobotoRegular";
  position: relative;
  height: 53px; /*???*/
}
.evelopments_content_table table tr:first-child td,
.settings-table table tr:first-child td {
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
}
.evelopments_content_table table tr:first-child td:first-child,
.settings-table table tr:first-child td:first-child {
  border-left: none;
}
.evelopments_content_table table tr td .checkbox,
.settings-table table tr td .checkbox {
  border: 1px solid #eaeaea;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}
.evelopments_content_table table tr td .checkbox.active,
.settings-table table tr td .checkbox.active {
  border: 1px solid transparent;
  background: #5cb128 url(../img/sprite.png) no-repeat -18px -195px;
}
.evelopments_content_table table tr:nth-child(2) td,
.settings-table table tr:nth-child(2) td {
  /*padding: 28px 9px 5px 9px;*/
}
.evelopments_content_table table tr td:first-child,
.settings-table table tr td:first-child {
  padding-left: 18px;
}
.evelopments_content_table table td,
.settings-table table td {
  padding: 9px 12px;
  max-width: 270px;
 /* min-width: 110px;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.evelopments_content_table table tr,
.settings-table table tr {
  font: 14px "RobotoRegular";
  background-color: rgba(148, 142, 142, 0.15);
}
.evelopments_content_table .arrow-table,
.settings-table .arrow-table {
  display: inline-block;
  background: url('../img/sprite.png') no-repeat -58px -150px;
  width: 6px;
  height: 9px;
  margin: 0 10px;
  cursor: pointer;
}


.evelopments_content_table table tr:first-child td:last-child,
.settings-table table tr:first-child td:last-child {
  border-left: none;
} 
.table-button .table-edit,
.table-button .table-close,
.table-button .table-delete {
  display: inline-block;
  cursor: pointer;
  margin: 0 0 0 15px;
}
.table-button .table-edit {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -61px;
  width: 16px;
  height: 16px;
  margin: 0;
}
.table-button .table-close {
  background-image: url(../img/spritesheet.png);
  background-position: -32px -61px;
  width: 16px;
  height: 16px;
}
.table-button .table-delete {
  background-image: url(../img/spritesheet.png);
  background-position: -64px -61px;
  width: 12px;
  height: 16px;
}
.table-button .table-edit.active {
  background-position: -16px -61px;
}
.table-button .table-close.active {
  background-position: -48px -61px;
}
.table-button .table-delete.active {
  background-position: -77px 0px;
}


/* user_settings */

.profile {
  float: right;
  margin: 25px 50px;
  width: 79%;
}
.profile h3 {
  font: 22px "RobotoMedium";
  color: #248FC5;
  margin: 50px 0 5px 50px;
}
.profile h3 span {
  font: 22px "RobotoMedium";
  color: #323332;
}
.profile .personal-data,
.edit-pass,
.exit {
  margin: 50px 0 0 50px;
  display: inline-block;
  vertical-align: top;
}
.profile .personal-data,
.edit-pass {
  background: #FFFFFF;
  width: 320px;
  padding: 25px 35px;
  border: 1px solid #EAEAEA;
}
.profile h4 {
  font: 18px/18px "RobotoMedium";
  color: #323332;
  margin: 0 0 12px;
}
.profile .green-button {
  text-transform: uppercase;
}
.red-button {
  color: #fff;
  font: 18px "RobotoMedium";
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px 25px;
  background: #E85C5D;
  display: block;
  width: 250px;
  margin: 5px 0;
  text-align: center;
  position: relative;
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(147,58,58,1);
  -moz-box-shadow: inset 0px -3px 0px 0px rgba(147,58,58,1);
  box-shadow: inset 0px -3px 0px 0px rgba(147,58,58,1);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  text-transform: uppercase;
}
.red-button:before {
  content: '';
  position: absolute;
  display: block;
  background-image: url(../img/spritesheet.png);
  background-position: -53px 0px;
  width: 24px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  left: 23%;
}


.red-button-menu {
  color: #fff;
  font: 18px "RobotoMedium";
  padding: 10px 25px;
  display: block;
  width: 250px;
  margin: 5px 0;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}
.red-button-menu:before {
  content: '';
  position: absolute;
  display: block;
  background-image: url(../img/spritesheet.png);
  background-position: -53px 0px;
  width: 24px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  left: 23%;
}


.red-button:hover {
  background: #A14848;
}
.red-button:active {
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(147,58,58,1);
  -moz-box-shadow: inset 0px 3px 0px 0px rgba(147,58,58,1);
  box-shadow: inset 0px 3px 0px 0px rgba(147,58,58,1);
}
.profile form input {
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #989898;
  font: 14px "RobotoRegular";
  background: #fff;
  margin: 7px 0;
  width: 250px;
  padding: 10px 10px;
}
.profile form input.mail-input {
  padding-left: 50px; 
  background-image: url(../img/mail.png);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  position: relative;
}
.profile form input.mail-input:before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
  top: 0;
  left: 0;
}

/* user_settings */

.emplyee {
  float: right;
  margin: 0px 50px;
  width: 79%;
}
.emplyee h3 {
  font: 22px "RobotoMedium";
  color: #248FC5;
  margin: 0px 0 5px 25px;
}
.emplyee h3 span {
  font: 22px "RobotoMedium";
  color: #323332;
}
.emplyee .green-button {
  text-transform: uppercase;
  margin: 30px auto;
}
.emplyee-block {
  position: relative;
}
.emplyee-block:after {
  content: '';
  display: table;
  clear: both;
}
.emplyee h4 {
  font: 18px "RobotoMedium";
  margin: 0;
}
.emplyee-right-wrap {
  display: inline-block;
  margin-bottom: 100px;
}
.emplyee-left,
/*.emplyee-right,*/
.emplyee-middle {
  background: #fff;
  display: inline-block;
  margin: 50px 0 0 25px;
  padding: 23px 35px 30px;
  vertical-align: top;
  border: 1px solid #EAEAEA;
  position: relative;
}
.emplyee-left input,.emplyee_pop input{
  color: #4A4A4A;
  font-family: "RobotoRegular";
  background: #fff;
  padding: 9px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-size: 14px;
  margin: 15px 0;
  width: 250px;
}


.emplyee-left input[type=checkbox]{
  display: none;
}
.emplyee-left label {
  font: 14px "RobotoRegular";
  color: #B7B7B7;
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
}
.emplyee-left label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: -3px;
  border: 1px solid #eaeaea;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}
.emplyee-left input[type=checkbox]:checked + label:before{

  border: 1px solid transparent;
  background: #5cb128 url(../img/sprite.png) no-repeat -18px -195px;
}


.emplyee-right .sandwich-wrap {
  position: relative;
  color: #a1a1a1;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  margin: 15px 0;
  padding: 9px 10px;
  font-size: 14px;
}
.emplyee-right .sandwich-button {
  position: absolute;
  top: 12px;
  right: 10px;
  text-indent: -9999px;
  cursor: pointer;
  background-image: url(../img/spritesheet.png);
  background-position: 0px -52px;
  width: 15px;
  height: 9px;
}
.emplyee-right .sandwich-block li {
  font-size: 14px;
  display: block;
  float: none;
}
.emplyee-right .sandwich-block span {
  width: 100%;
  padding: 15px 20px 15px 7px;
  color: #a1a1a1;
  cursor: pointer;
  display: block;
  font-size: 14px; 
  border-top: 1px solid #e2e2e2;
  /*box-sizing: border-box; */
}
.emplyee-right .sandwich-block span:hover {
  color: #000;
}
.emplyee-right .sandwich-block {
  display: none;
  position: absolute;
  left: 0;
  margin-left: -37px;
  width: 322px;
  top: 32px;
  background: #fff;
  z-index: 9999;
  text-align: center;
  border: 1px solid #EAEAEA;
  border-top: none;
  padding-bottom: 30px;
}
.emplyee-right .sandwich-block ul {
  border: 1px solid #e2e2e2;
  display: inline-block;
  text-align: left;
  overflow: auto;
  max-height: 102px;
  width: 252px;
}
.emplyee-right .sandwich-cont {
  width: 250px;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;
  display: block;
  color: #323332;
}


.emplyee-middle table {
  margin: 15px 0 18px;
}
.emplyee-middle table tr {
  font: 14px "RobotoRegular";
  color: #484848;
}
.emplyee-middle table td {
  padding: 9px;
  width: 140px;
}
.emplyee-middle table tr:nth-child(odd) {
  background: #FBFBFB;
}
.emplyee-middle table tr:first-child {
  text-align: center;
  background: #FBFBFB;
  font: 16px "RobotoRegular";
}
.emplyee-middle table tr:first-child td:first-child {
  text-align: left;
}
.emplyee-middle table tr:nth-child(2) td {
  /*padding: 28px 9px 5px 9px;*/
}
.emplyee-middle table tr td span {
  border: 1px solid #eaeaea;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}
.emplyee-middle table tr td span.active{
  border: 1px solid transparent;
  background: #5cb128 url(../img/sprite.png) no-repeat -18px -195px;
}
.emplyee-middle table{
  text-align: left;
}
.emplyee-middle{
  text-align: center;
}
.emplyee-middle .add-button {
  color: #fff;
  font: 14px "RobotoMedium";
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 6px 15px;
  background: #5CB127;
  display: block;
  width: 160px;
  margin: 5px 0 0;
  text-align: right;
  position: relative;
  box-shadow: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.emplyee-middle .add-button:hover {
  background: #519B24;
}
.emplyee-middle .add-button {
  cursor: pointer;
}
.emplyee_pop{
  display: none;
  margin: 30px 0 0;
}
.emplyee_pop .green-button{
  width: 195px;
  padding: 5px 25px;
  text-transform: none;
  cursor: pointer;
}
/* user_settings */

.datepicker {
  color: #228fc2;
  border: none;
  background: none;
  font: 16px "RobotoRegular";
  padding: 6px 0 0 15px;
  width: 120px;
}
.datepicker:focus {
  outline: none;
}
.ui-datepicker-prev {
  background-image: url(../img/arrow-left.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.ui-datepicker-next {
  background-image: url(../img/arrow-right.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.ui-datepicker-next-hover {
  background-image: url(../img/arrow-right.png) !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.ui-datepicker-prev-hover {
  background-image: url(../img/arrow-left.png) !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.link_gener li{
  display: block;
  margin: 10px;
  padding: 10px 25px;
  display: block;
  border: 1px solid #228fc2;
  cursor: pointer;
  min-width: 150px;
  max-width: 395px;
  width: 395px;
  text-align: center;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link_gener li:hover,
.link_gener li.active{
  color: #fff;
  background: #228fc2;
}
.link_gener{
  padding: 10px;
  line-height: 20px;
  border: 1px solid #EAEAEA;
  background: #fff;
  max-width: 435px;
}
.selectTabs,
.tablesorter{
  border: 1px solid #EAEAEA;
  background: #fff;
}
.evelopments_content_table{
  padding: 30px 34px;
}
.evelopments_content_table_new{
  display: inline-block;
}

th.headerSortUp { 
    background-image: url(../img/sprite.png) no-repeat 2px 170px;
} 

th.headerSortDown { 
    background-image: url(../img/sprite.png) no-repeat 15px 170px;
} 
th.headerSortUp span{ 
  background: url('../img/sprite.png') no-repeat -1px -170px;
  display: inline-block;
  width: 12px;
  height: 16px;
  margin-left: 10px;
} 

th.headerSortDown span{ 
  background: url('../img/sprite.png') no-repeat -15px -172px;
  display: inline-block;
  width: 12px;
  height: 16px;
  margin-left: 10px;
} 

th {
  cursor : pointer;
}
.edit-plus{
  color: #5CB127;
  background: #fff;
  border-radius: 50%;
  font-size: 19px;
  position: absolute;
  width: 14px;
  height: 15px;
  position: absolute;
  right: 3px;
  display: block;
  top: 50%;
  text-align: center;
  margin-top: -7px;
}
.edit-plus:before{
  content: "+";
  position: absolute;
  width: 15px;
  height: 15px;
  top: -6px;
  left: -1px;
}
.edit-plus:hover{
  color: #519B24;
}
/*
.inline_box_pop{
  display: none;
  text-align: center;
  color: red;
  padding: 40px 20px;
}
.fancybox-inner{
  height: auto!important;
}
.fancybox-overlay{
  background: rgba(0,0,0,0.3);
  z-index: 99999999!important;
}*/
.red-btn{
  background: #D40A0A;
  border-radius: 5px;
  padding: 3px 7px 5px;
  color: #fff;
  display: block;
  font-size: 14px;
  cursor: pointer;
}
.red-btn:hover{
  background: #C50909;
}
.required_now {
  color: #D80E0E;
  margin: 0 0 10px;
  display: block;
  margin: -15px 0 3px;
}

.navigation li a[href*='reports']:hover:before,
.navigation li a[href*='reports'].active:before{
  background-position: -25px -25px;
}

.navigation li a[href*='events']:hover:before,
.navigation li a[href*='events'].active:before{
  background-position: -31px -57px;
}

.navigation li a[href*='meetings']:hover:before,
.navigation li a[href*='meetings'].active:before{
  background-position: -31px -87px;
}

.navigation li a[href*='settings']:hover:before,
.navigation li a[href*='settings'].active:before,
.navigation li a[href$='add_user']:hover:before,
.navigation li a[href$='add_user'].active:before{
 background-position: -32px -117px;
}

.navigation li a[href*='meeting']:before{
  background-position: 0 -87px;
}

.navigation li a[href*='reports']:before{
  background-position: 0 -25px;
}

.navigation li a[href*='events']:before{
  background-position: 0 -57px;
}

.navigation li a[href*='settings']:before,.navigation li a[href$='add_user']:before{
 background-position: 0 -117px;
}

.emplyee_pop input{
  margin:0 auto;
}

#emplee_registry{
  cursor: pointer;
}

.emplyee-left{
  float: none;
}

.emplyee-right-wrap{
  float: left;
}
.search_cont{
  float:left;
}

.tab_content td{
  border-left: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
}

.table-button .table-edit.active,.table-button .table-edit.active:hover{
  /*background-position: 55px 41px;*/
  opacity: 1 ;
  background-position: -34px -36px;
}

.table-button .table-edit{
   /* background-position:26px 35px; */
    background-position: -63px -42px;
    opacity: 0.4
}
.table-button .table-close.active{
  background-position: -48px -61px;
}
.table-button .table-delete:hover{
  background-position: 12px 0px;
}
.tab_content td[contenteditable]{
  cursor: pointer
}


#events_links  li,.empty_list{
  display: block;
  margin: 10px;
  padding: 10px 25px;
  display: block;
  border: 1px solid #228fc2;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
   white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP Printers */
    word-wrap: break-word; /* IE 5+ */
}
#events_links li:hover,.empty_list,
#events_links li.active{
  color: #fff;
  background: #228fc2;
}
#events_links,.empty_list {
  padding: 10px;
  line-height: 20px;
  border: 1px solid #EAEAEA;
  background: #fff;
  max-width: 435px;
}
.evelopments_content_table_new{
  float: left;
  width: 20%;
}
#events_links li {
  width: 90%;
}
.event_cont{
  margin-left:0;
}
.evelopments_content_table table td{
  min-width: auto;
}

/*
.evelopments_content_table button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.evelopments_content_table button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
*/

#prev,#prev_home {
    border: 0;
    color: #fff;
    font: 18px "RobotoMedium";
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 25px;
    background: #5CB127;
    display: block;
    width: 250px;
    margin: 5px 0;
    text-align: center;
    position: relative;
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(77,146,32,1);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(77,146,32,1);
    box-shadow: inset 0px -3px 0px 0px rgba(77,146,32,1);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}
#prev:before,#prev_home:before{
  content: '';
  display: block;
  position: absolute;
  background-image: url(../img/sprite.png);
  background-position: -15px -172px;
  width: 11px;
  height: 16px;
  top: 53%;
  margin-top: -10px;
  left: 23px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}    
#prev:hover,#prev_home:hover {
  background: #519B24;
}
#prev:active,#prev_home:active {
  position:relative;
  top:1px;
}



.empty_list{
  color:#000;
}
span.title_login, span.title_pw{
  display: none;
}
.event_pop{
  display: none;
}
.user_checked{
   display:none;
    width:19px;
    height:19px;
    background:url(../img/sprite.png) no-repeat -18px -195px; 
}
.user_checked + span{
  display: inline-block;
    width:19px;
    height:19px;
    background:url(../img/sprite.png) no-repeat -18px -195px; 
}


.item_user  span {
  border: 1px solid #B4A2A2;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  float: right;
  margin-right: 30px;
}
.item_user  span.active{
  border: 1px solid transparent;
  background: #5cb128 url(../img/sprite.png) no-repeat -18px -195px;
}
.item_user{
  margin-bottom: 5px;
}
.popap_wrap .item_user{
  margin-bottom: 10px;
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#wrap_user{
  margin-top: 10px;
}


 .emplyee-left input[type="button"]{
  background: #5CB127;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font: 14px "RobotoMedium";
}
.emplyee-left input[type="button"]:hover{
  background: #519B24;
}
.pop_cont{
  position: fixed;
  max-width: 700px;
  width: 300px;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #fff;
  border: 1px solid #f3f3f3;
  z-index: 9999;
  border-radius: 5px;
  margin: -75px 0 0 -150px;
}
.popap,.popap_wrap{
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
}
#create_deal .popap,#create_deal.popap_wrap,#update_partnership_popup .popup,#update_partnership_popup.popap_wrap{
  z-index: 999!important
}
.popap .close ,.popap_wrap .close {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
#dep_1 .pop_cont{
  width: 400px;
}

.checkbox_block{
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #E2E2E2;
  padding: 4px 6px;
  width: 270px;
  margin-top: 10px;
  overflow: hidden;
  height: 87px;
  overflow: auto;
}    
.checkbox_block li{
  display: block;
  margin: 0 0 10px;
}
.emplyee-right{
  width: 250px;
}
.content_block{
  overflow: hidden;
}
.empty_list{
  max-width: 230px;
  white-space: initial;
}
#userinfo th{
    padding: 5px 25px;
    border: 1px solid #E2E2E2;
    /*background: #5CB128;*/
     font-family: "RobotoMedium";
     font-weight: 500;
     text-align: left;
}
#userinfo a {
  color: #077400;
  text-decoration: underline;
}
#userinfo a:hover {
 opacity: 0.8;
}
#userinfo td:last-child{
  border-right: 1px solid #E2E2E2;
}
.evelopments_content_table.tab_content{
  display: none;
}

form[name="registry"] input[type="file"] {
    display: none;
}
form[name="registry"] .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 30px;
    cursor: pointer;
}
form[name="registry"] i.cloud-upload{
  position: absolute;
  top:8px;left:0;
  width: 20px;height:20px;
  display: inline-block;
  background: url('../img/file_upload.png') no-repeat 0 0;
}
.emptyField{
  border: 1px solid #BB1717!important;
}

/* sidebar */
.container {
 position: relative;
 height: 100%;
 width: 100%;
 left: 0;
 -webkit-transition:  left 0.4s ease-in-out;
 -moz-transition:  left 0.4s ease-in-out;
 -ms-transition:  left 0.4s ease-in-out;
 -o-transition:  left 0.4s ease-in-out;
 transition:  left 0.4s ease-in-out;
}
.container.open-sidebar {
 left: 300px;
}
      
.swipe-area {
 position: absolute;
 width: 50px;
 left: 0;
 top: 0;
 height: 100%;
 background: #f3f3f3;
 z-index: 0;
}
#sidebar {
 position: absolute;
 width: 300px;
 height: 100vh;
  min-height: 100%;
 left: -300px;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 
}
#sidebar ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

.main-content {
 width: 100%;
 height: 100%;
 padding: 10px;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 position: relative;
}
.main-content .content{
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 padding-left: 60px;
 width: 100%;
}
.main-content .content h1{
 font-weight: 100;
}
.main-content .content p{
 width: 100%;
 line-height: 160%;
}
      
.main-content #sidebar-toggle .bar{
 display: block;
 width: 18px;
 margin-bottom: 3px;
 height: 2px;
 background-color: #fff;
 border-radius: 1px;   
}
.main-content #sidebar-toggle .bar:last-child{
 margin-bottom: 0;   
}
/* user-info */
.user-info {
  overflow: hidden;
}
.user-photo {
  /*max-height: 315px;*/
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  float: left;
  width: 20%;
  margin-left:5%;
  padding-top: 20px;
}
.user-photo img {
width: 100%;
height: auto;
}
/* Anketa */
.top-line {
  width: 95%;
  background-color: #fff;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.top-button a>span {
  display:block;
  background-color: #228fc2;
  border-radius: 3px;
  padding: 12px 0px 12px 15px;
  text-align: left;
  color:#fff;
}
.user-hierarchy a span {
  width: 90%;
  margin:0 auto;
}
.top-button a:hover span {
  background-color: #4599c1;
}
.top-button {
  width: 80%;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left:30px;
}
.top-button h1 {
  text-align: left;
  padding-left: 5%;
  padding-top: 20px;
  font-size: 1.2em;
}
.top-button a>span {
  width: 200px;
 float: right;
 position: relative;
}
.top-button a>span>span {
  display: block;
  position: absolute;
 width: 24px;
height: 22px;
top: 17px;
right: 4px;
/*background-color: #e75c5c;*/
color: #fff;
padding: 2px;
border-radius: 5px;
}
/*
.top-button a>span:before {
  content: '';
  position: absolute;
  width: 45px;
    height: 45px;
    top: -2px;
    right: 29px;
  background: url(../img/sms.png) no-repeat ;
  z-index: 2;
}
*/
.user-data{
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 100px;
}
#user-info li {
  padding-bottom: 10px;
}
#user-info p,
#status p {
  text-align: right;
  font-size: 0.8em;
  color: #999999;
  text-transform: lowercase;
}
#user-info span,
#status span {
  display: block;
  text-align: left;
  font-size: 1em;
  color:#999999;
  background-color: #fff;
  width: 100%;
  padding: 13px;
  border-radius: 3px;
}
#status span {
  width: 90%;
  margin:0 auto;
  border:1px solid #e8e8e8;
  border-radius: 3px;
}
.user-hierarchy,
.user-status {
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  padding: 25px;
}
.user-status li {
text-align: left;
color: #999999;
}
.userswrap {
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-top: 35px;
}
.field label {
  color:#999999;
}

.user-hierarchy h2,
.user-status {
  text-align: center;
  margin-bottom: 20px;
}
.user-hierarchy a{
  text-align:center;
}
.user-hierarchy p{
 text-align: left;
 padding-left: 50px;
 padding-bottom: 20px;
}
.main-pagewrap {
  width: 95%;
  overflow: hidden;
  padding: 4% 4% 0 4%;
  background-color: #fff;
}
.main-page {  
  overflow: hidden;
  background-color: #ebebeb;
  -webkit-box-shadow: 0px 3px 8px 5px rgba(0,0,0,0.22);
-moz-box-shadow: 0px 3px 8px 5px rgba(0,0,0,0.22);
box-shadow: 0px 3px 8px 5px rgba(0,0,0,0.22);
}
.field {
  clear:both; 
  text-align:left;
  margin-bottom:20px;
}
.clearfix {
  clear:both
}
.description {
width: 100%;
overflow: hidden;
margin-top:20px;
margin-bottom:20px;
}

.description p {
  text-align:left;
  padding-bottom: 10px;
}
.description textarea {
  margin-bottom: 50px;
}
.user-status form,
.user-data form {
  padding-top:20px;

}
.user-status label {
  margin-left:20px;
  cursor: pointer;
}
.user-data label {
  float: left;
  margin-left:20px;
}
.user-data form input{
 width:60%;
 padding:2px;
 border-radius: 3px;
}

/* tabs */

.korpus0 { position: relative; }

.korpus0 > div, .korpus0 > input {
  display: none;
  min-height: 150px; /* 50px Г— 3 РІРєР»Р°РґРєРё */ 
}

.korpus0 > label { 
  position: absolute; 
  left: 1%; 
  bottom: 0; 
  width: 15%; 
  height: 50px; 
  border: 1px solid #aaa; 
  line-height: 50px; 
  text-align: center; 
  cursor: pointer; 
  border-radius: 6px 6px 0 0;
  color:#fff;
  background-color: #C2BDBD;
  font-size:1.2em;
  text-transform: uppercase;
  -webkit-box-shadow: 0px -5px 18px 2px rgba(0,0,0,0.25);
-moz-box-shadow: 0px -5px 18px 2px rgba(0,0,0,0.25);
box-shadow: 0px -5px 18px 2px rgba(0,0,0,0.25);
}
.korpus0 > label:nth-of-type(2) { left: 17%; /* 50px + 1px border */ }
.korpus0 > label:nth-of-type(3) { left: 33%; /* 50px + 1px border РїРµСЂРІРѕР№ РІРєР»Р°РґРєРё + 1px border РІС‚РѕСЂРѕР№ РІРєР»Р°РґРєРё */  }
.korpus0 > input[type="radio"]:checked + label { background-color: #2098ca; }

.korpus0 > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus0 > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.korpus0 > input:nth-of-type(3):checked ~ div:nth-of-type(3) { 
  display: block; 
  padding: 1px 55px 1px 5px; 
  border: 1px solid #aaa;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/checkbox.png) no-repeat;
    cursor:pointer;
    float: right;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/check.png) no-repeat;
}


/*Bottom_box */
.user-photo:hover .bottom_box {
    bottom: 0px;
}
.bottom_box {
 /* display: none;
    position: absolute;
  */
    bottom: -93px;
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: #3598db;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    z-index: 1;
}
.photo_txt {
    position: relative;
    margin: 0 0 0 -25px;
}
.tabscontent .fullscreen {
  min-height: 500px;
}
#user-info textarea{
  width: 100%;
  max-width: 100%;
  min-height: 50px;
}
.user-hierarchy input[type="button"],
.user-data input {
width: 100%;
padding: 9px;
border-radius: 5px;
margin-top: 10px;
box-shadow: none;
}
.user-hierarchy input[type="button"],
.user-data input[type="button"],.user-hierarchy input[type="button"] {
  background-color: #228fc2;
  padding: 8px;
  color:#fff;
  font-size: 1.2em;
  font-weight: bold;
}
.user-data input[type="button"]:hover {
 background-color: #4599c1;
}


.notfullsearch th[data-order] span{
  position: relative;
}
.notfullsearch th[data-order] span:before{
  position: absolute;
  background:url(../img/sprite.png)  0 -173px no-repeat;
  /*
  right:0;top:20px;
  */
  top:5px;right: -18px;
  height:20px;width: 15px;
  content: '';
}
 .notfullsearch th[data-order].low span:before{
  background-position: -15px -173px
}

/*
 .notfullsearch th[data-order]:before{
  position: absolute;
  background:url(../img/downup.png) no-repeat;
  right:0;top:10px;height:20px;width: 20px;
  content: '';
}
*/
th[data-order]{
  position: relative;
}

.user-hierarchy #dropbox_wrap > div:nth-child(1),
.user-hierarchy #dropbox_wrap > div:nth-child(2) {
  border: 1px solid #4599c1;;
}
.user-hierarchy #dropbox_wrap > div:nth-child(3),
.user-hierarchy #dropbox_wrap > div:nth-child(4) {
  border: 1px solid gray;;
}
.user-hierarchy #dropbox_wrap > div:nth-child(1)::before {
 content: 'Иерархия пользователя';
 position: absolute;
 top: -26px;
 left: 0;
 width: 100%;
 text-align: center;
}
.user-hierarchy #dropbox_wrap > div:nth-child(3) {
  margin-top: 30px;
}
.user-hierarchy #dropbox_wrap > div:nth-child(3)::before {
  content: 'Иерархия ответственного ';
  position: absolute;
  top: -26px;
  left: 0;
  width: 100%;
  text-align: center;
}

.content_block div.search_cont{
  display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    min-height: 420px;
}

.settings_disciples .content_block div.search_cont{
  display: block;
  position: static;
  min-height: auto;
  width: 100%;
}
.settings_disciples .search_cont .sandwich-wrap{
  width: 200px;
  float: left;
  margin-left:20px; 
}
.settings_disciples .search_wrap #dropbox_wrap{
  width: auto;
}

.settings_disciples .search_wrap > *{
  float: left
}

.settings_disciples .apply,.settings_disciples .reset{
  display: none;
  width: 200px;
  float: left;
  margin-left:  20px;
}
.settings_disciples .reset{
  background: red;
  display: block;
  box-shadow: none;
  font-size: 12px;
}

.content_block{
  position: relative;
  /*min-height: 440px;*/
  min-height: 800px;
}
.navigation .menu-item-notifications{
  padding-left: 90px;
 /* background: url(../img/mailsprite.png) 20px 10px no-repeat ;*/
  height:70px;
  position: relative;

}
.navigation .menu-item-notifications:hover,.navigation .menu-item-notifications:hover a span{
  background: #fff;
  color:#228fc2
}
.navigation .menu-item-notifications:before{
  content: '';
  background: url(../img/mailsprite.png)  no-repeat ;
  position: absolute;
  top:20px;left:25px;
  width: 30px;
  height:20px;
}

.menu-item-notifications a{
  display: block;
  line-height: 70px;
}
.menu-item-notifications a span{
  font-size: 18px;
  color:#fff;
}
.menu-item-notifications a #count_notifications{
  color:red;
  margin-left:10px;
}
span.page{
  display: inline-block;
    width: 25px; 
    background: gray;
    text-align: center;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    color:#fff;
  }
  span.page.active{
    background: green;
  }
  .settings-table,.reports_container .evelopments_content_table{
    width: 100%;
    overflow: scroll;
  }

#wrapper_list{
  display: none;
}
#wrapper_list button{
  padding: 8px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #4599c1;
}
#wrapper_list li{
  /*float: left;*/
  overflow: hidden;
  width: 500px;
  margin-bottom: 10px;
}
#wrapper_list li div.table-button,#wrapper_event li div.table-button{
  float: right;
  width: 200px;
}
#wrapper_list .table-button .table-edit,#wrapper_event .table-button .table-edit {
  background-image: url(../img/spritesheet.png);
    background-position: 53px 2px;
    width: 20px;
    height: 20px;
}
#wrapper_list .table-button .table-edit:hover,#wrapper_event .table-button .table-edit:hover{
   background-position: 72px -16px;
}
.facebook{
  text-indent: -9000px;
  background: url('../img/facebook.png') no-repeat 0 0 ;
  width: 32px;
  height:32px;
  display: inline-block;
}
.search_wrap #dropbox_wrap{
  width: 245px;
}
.content_block input.showMore{
  margin: 10px auto;
  display: block;
  cursor:pointer;
  width:200px;
}

/*Партнерка*/
#partner_table td , #partner_list td , #partner_deals td, #summit_table td{
  padding: 20px;
  border:1px solid ;
}
.father, .summit {
  width: 250px;
  margin-bottom: 0;
}
#create_partnership_wrap{
  display: none;
}
#deals,#update_partnership_wrap,#create_partnership_wrap,#dropbox_wrap{
  /*background: #fff;*/
  
}
#deals{
  margin-bottom: 70px;
}
#create_deal input ,#update_partnership_wrap input,#create_partnership_wrap input,#update_deal input,#show_deal_popup,#register_summit,#update_partnership_popup input,#register_summit_popup input {
    width: 200px;
    padding: 9px;
    border-radius: 5px;
    border:1px solid ;
    margin-top: 10px;
    box-shadow: none;
}

#create_deals{
  cursor:pointer;
}
#deals,#update_partnership_wrap{display: none}

#partner_table tr{
  cursor: pointer;
}

#update_partnership_wrap{
  margin-bottom: 10px;
  float: left;
  width: 400px;
}
#partner #dropbox_wrap{
  float: left
}
#partner_info{
  margin: 30px 0
}

#show_deal_popup{
  cursor: pointer;
}

#update_partnership_popup{
  min-height: 200px;
}
#create_partnership{
  cursor: pointer;
}


#register_summit_popup p {
  margin: 10px 0;
}

#register_summit_popup p:first-child {
  margin:0 0 10px;
}


#synopsis_links{
  margin-left: 100px;
  float:left;
  width: 300px;
}
.current_view[data-event-id]{
    background: #228fc2;
    color: #fff;
}
/*synopsis_info*/
#synopsis_info table{
  width: 400px;
  float: right;
  margin-right: 200px;
}
#synopsis_info tr{
  border:1px solid gray;
  margin-bottom: 3px;
}
#synopsis_info td{
  padding: 10px;
}
#synopsis_info td+td{
  border-left: 1px solid gray;
  width: 250px;
}
#synopsis_info input{
  margin: 2px;
  border:1px solid gray;
}
#create_sypopsys{
  display: none;
}
#events_links  li,.empty_list,#synopsis_links li{
  display: block;
  margin: 10px;
  padding: 10px 25px;
  display: block;
  border: 1px solid #228fc2;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
   white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP Printers */
    word-wrap: break-word; /* IE 5+ */
}
.user-data input ,#synopsis_info input{
width: 100%;
padding: 9px;
border-radius: 5px;
margin-top: 10px;
box-shadow: none;
}
/*pop-up */
#create_deal .pop_cont,
#update_partnership_popup .pop_cont {
  top: 30%;
  left: 47%;
}
#create_deal .pop_cont > *:not(.close),
#update_partnership_popup .pop_cont > *:not(.close) {
  width: 100%;
  margin-bottom: 20px;
}
#create_partnership_wrap input[type=button],
#update_partnership_wrap input[type=button],
#show_deal_popup,
.pop_cont input[type=button] {
  color: #fff;
  font-weight: bold;
  border-bottom: 3px solid #00709b;
  background: -moz-linear-gradient(90deg, rgba(0,154,234,1) 0%, rgba(0,172,239,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,172,239,1)), color-stop(100%, rgba(0,154,234,1)));
  background: -webkit-linear-gradient(90deg, rgba(0,154,234,1) 0%, rgba(0,172,239,1) 100%);
  background: -o-linear-gradient(90deg, rgba(0,154,234,1) 0%, rgba(0,172,239,1) 100%);
  background: -ms-linear-gradient(90deg, rgba(0,154,234,1) 0%, rgba(0,172,239,1) 100%);
  background: linear-gradient(0deg, rgba(0,154,234,1) 0%, rgba(0,172,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00acef', endColorstr='#009aea',GradientType=0 );
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
#create_partnership_wrap input[type=button]:hover,
#update_partnership_wrap input[type=button]:hover,
#show_deal_popup:hover,
.pop_cont input[type=button]:hover {
  -webkit-box-shadow: inset 0px 0px 29px 11px rgba(24,60,77,0.56);
  -moz-box-shadow: inset 0px 0px 29px 11px rgba(24,60,77,0.56);
  box-shadow: inset 0px 0px 29px 11px rgba(24,60,77,0.56);
}

#status_division li span{
  display: block;
  background-color: #5cb128;
  padding: 10px;
  color: #fff;
  border-radius: 20px;
}
#status_division li {
   margin-top: 10px;
}
#database_users #dropbox_wrap{
  float: right;
  margin-right: 400px;
}