{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
 <div class="container ">
					{% block sidebar %}
						{% include 'include/sidebar.html' %}
					{% endblock %}
          <div class="top-button">
            <h1>Анкета</h1>
          </div>
          <div class="top-line">
          </div>
          <div class="main-pagewrap">
              <div class="main-page">
                <div class="tabscontent">
                  <div class="korpus0">
                    <input type="radio" name="odin" checked="checked" id="vkl1"/>
                    <label for="vkl1">Общие</label>
                    <!--<input type="radio" name="odin" id="vkl2"/>
                    <label for="vkl2">колееги</label>
                    <input type="radio" name="odin" id="vkl3"/>
                    <label for="vkl3">партнеры</label>

                    -->
                    <div class="fullscreen">
                    <div class="user-info">
                    <div class="user-photo">
                      <img src="img/userempty.png" alt="">
                      <div class="bottom_box ">
                        <span class="photo_txt">
                          <form enctype="multipart/form-data" method="post">
                            <p><input type="file" name="f"></p>
                          </form></span>
                      </div>
                        <ul id="status_division">
                        </ul>
                    </div>
                    <div class="user-data"> <!-- First col -->

                      <ul id="user-info">
                      <!--  <li><p>Имя*</p><span id="first_name">Иван</span></li>
                        <li><p>Фамилия*</p><span id="last_name">Иванов</span></li>
                        <li><p>Отчество*</p><span id="middle_name">Иванович</span></li>
                        <li><p>Телефон*</p><span id="phone_number">099 999 99 99</span></li>
                        <li><p>Дата рождения*</p><span id="born_date">01,01,1990</span></li>
                        <li><p>Страна/город</p><span>Украина/Киев</span></li>
                        <li><p>Адрес*</p><span id="address">ул.Строителей 42</span></li>
                        <li><p>Почта*</p><span id="email">ivanov@gmail.com</span></li>
                        <li><p>Скайп*</p><span>Иванов...Иван007</span></li>
                        <li><p>Ссылка на соцсети*</p><span>VK.com/login</span></li>
                        -->
                      </ul>
                      <input type="button" value="Редактирование пользователя" onclick="updateUser()">
                    </div>  <!--END First col -->
                    <div class="userswrap"> <!-- Second col -->
                      <div class="user-status">
                       <!-- <form action="#" id="check-status" >
                          <div class="field">

                            <input type="checkbox" name="check1" id="check1">
                            <label for="check1">ЛЕВИТ<span></span></label>
                          </div>
                          <div class="field">
                            <input type="checkbox" name="check2" id="check2">
                            <label for="check2">Г.П.<span></span></label>
                          </div>
                          <div class="field">
                            <input type="checkbox" name="check3" id="check3">
                            <label for="check3">ЛЕВИТ<span></span></label>
                          </div>
                          <div class="field">
                            <input type="checkbox" name="check4" id="check4">
                            <label for="check4">Г.П.<span></span></label>
                          </div>
                          </form>

                          -->
                      </div>
                      <div class="user-hierarchy clearfix">
                        <div class="field">
                        <div class="search_cont">
                        <div id="dropbox_wrap">
                        </div>
                           <ul id="status">
                            <!-- <li>
                               <p>статус*</p>
                               <span>Епископ</span>
                             </li>
                             <li>
                              <p>лидер*</p>
                               <span>Лидер:</span>
                             </li>
                             <li>
                              <p>сотник*</p>
                               <span>Иванов Иван</span>
                             </li>
                             <li>
                               <p>отдел*</p>
                               <span>Интернет студия</span>
                             </li>

                             -->
                           </ul>


                            <input type="button" value="сменить наставника" onclick="changeHierarhy(this)" >
                             <input type="button" id="division" value="сменить департамент" class="add-button">
                        </div>
                        </div>
                     <!-- <a href=""><span>Посмотреть в базе<span> </a> -->
                    </div>
                </div> <!--END Second col -->
                </div>
                </div>
                <div class="fullscreen">коллеги</div>
                <div class="fullscreen">партнеры</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
     <div class="popap" id='popup_div'>
                <div class="pop_cont">
                  <p id='popup_text'></p>
                  <span onclick='hidePopup()' class="close">x</span>
                </div>
      </div>
  {% endblock %}
{% block script %}
    <script src="{% static 'js/edit.js' %}"></script>
{% endblock %}
