{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
     <div class="container ">
					{% block sidebar %}
						{% include 'include/sidebar.html' %}
					{% endblock %}
 <div class="top-button">
            <h1>События/Анкета</h1>
          </div>
          <div class="top-line">
          </div>
          <div class="main-pagewrap">
              <div class="main-page">
                <div class="tabscontent">
                  <div class="korpus0">
                    <input type="radio" name="odin" checked="checked" id="vkl1"/>
                    <label for="vkl1">Общие</label>
                    <input type="radio" name="odin" id="vkl2"/>
                    <label for="vkl2">Саммиты</label>
                    <input type="radio" name="odin" id="vkl3"/>
                    <label for="vkl3">партнеры</label>
                    <div class="fullscreen">
                    <div class="user-info">
                    <div class="user-photo">
                      <img src="{% static 'img/userempty.png' %}" alt="">
                      <div class="bottom_box ">
                        <span class="photo_txt">
                          <form enctype="multipart/form-data" method="post">
                            <p><input type="file" name="f"></p>
                          </form></span>

                      </div>
                           <ul id="status_division">
                           </ul>

                    </div>
                    <div class="user-data"> <!-- First col -->
                      <ul id="user-info">
                      </ul>
                    </div>  <!--END First col -->
                    <div class="userswrap"> <!-- Second col -->
                      <div class="user-status">

                      </div>
                      <div class="user-hierarchy">
                        <div class="field">
                           <ul id="status">
                           </ul>



                        </div>
             <button class="apply_event send_pass" style="margin:10px 0;">Отправить пароль</button>
             <button class="apply_event edit_user_id">Редактировать пользователя</button>
                     <!-- <a href=""><span>Посмотреть в базе<span> </a> -->
                    </div>
                </div> <!--END Second col -->
                </div>
                </div>
                <div class="fullscreen">
                  <div id="summit">
                        <div id="summit_table"></div>
                        <div style="width:200px;overflow:hidden;">
                        <button id ="summit-register" class="apply_event register_summit" style="margin:10px 0;">Регистрация</button>
                      </div>
                      <!--div id= "create_partnership_wrap">
                        Регистрация на саммит :
                          <div id="summit_wrap"></div>
                          <input type="button"  value = "создать партнерку" id= "create_partnership" >
                      </div-->
                  </div>
                </div>
                <div class="fullscreen">
                    <div id="partner">
                      <div id="partner_info"></div>
                      <div id="partner_table"></div>

                      <div id= "update_partnership_wrap">
                        <!-- <p> Обновление партнерки : </p>
                            <input type="text" class="datepicker" id="datepicker_update" value="" style="cursor:pointer;">

                             <p> Сума <input type="text" value = "0" name= "money" id= "money_update" > </p>

                             -->
                            <input type="button"  value = "обновить партнерку" id= "show_update_partnership" >
                            <input type="button"  value = "удалить партнерку" id= "delete_partnership" >
                         <!-- </div> -->
                      </div>


                  <!--  <div id="dropbox_wrap">
                    </div>
                    -->

                    <div id= "create_partnership_wrap">
                     Cоздание партнерки :
                        <div id="dropbox_wrap">
                        </div>
                        <input type="text" class="datepicker" id="datepicker" value="" style="cursor:pointer;">

                        Сума <input type="text" value = "0" name= "money" id= "money" >
                        Консультат (Да/Нет) <input type="checkbox" id="is_consultant" style="display:inline-block; width: 30px" >

                        <input type="button"  value = "создать партнерку" id= "create_partnership" >

                    </div>


                    <div id="deals" class="clearfix">
                      <input type="button"  value = "создать cделку" id= "show_deal_popup" onclick="showCreateDeal()" >

                      <!--
                      <p>Cоздание сделки</p>
                      Дата сделки
                        <input type="text" class="datepicker" id="datepicker_deals" value="" style="cursor:pointer;" placeholder="Дата сделки">

                       <p>  Описание сделки: </p>
                        <textarea  id="description" placeholder="Описание сделки" cols = "50" rows="10"></textarea>
                       <p> Cумма сделки  </p>
                        <input type="text"  id="deals_value" placeholder="сумма сделки">
                        <input type="button" value="Создать сделку" id="create_deals">

                        -->
                    </div>


                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="popap" id='popup_div'>
                <div class="pop_cont">
                  <p id='popup_text'></p>
                  <span onclick='hidePopup()' class="close">x</span>
                </div>
    </div>
  {% endblock %}
{% block script %}
    <script src="{% static 'js/account.js' %}"></script>
{% endblock %}
