<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>CRM</title>
		<link rel="stylesheet" href="{% static 'css/jquery-ui-1.9.2.custom.css' %}">
		<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/media.css' %}">
	</head>
	<body>


                    {% block content %}
                    {% endblock %}

		<div class="hidden"></div>
		<!--[if lt IE 9]>
		<script src="libs/html5shiv/es5-shim.min.js"></script>
		<script src="libs/html5shiv/html5shiv.min.js"></script>
		<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
		<script src="libs/respond/respond.min.js"></script>
		<![endif]-->
		<script src="{% static 'libs/jquery/jquery-2.1.3.min.js' %}"></script>
		<script src="{% static 'libs/jquery/jquery-ui-1.9.2.custom.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
		<script src="{% static 'js/lib.js' %}"></script>
		<script src="{% static 'js/menu.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
    {% block script%}
    {% endblock%}


	</body>
</html>
