<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>CRM</title>
		<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/media.css' %}">
	</head>
	<body>
		<div class="wrapper entry_bg">
		<!--begin main-->
			<div class="main">
			<!--begin content-->
				<!--<section class="content">-->
				<section class="contententry">
					<div class="entry_container">
						<strong class="topic">Войти в систему</strong>
						<div class="log_form">
							<input type="text" id="login" placeholder="Почта" required  title="Введите почта">
							<label for="login" class="log"></label>
							<span class="required_now" id='login_alert' style="display:none">* Неверно введен логин</span>
							<input type="password" id="psw" placeholder="Пароль" required  title="Введите пароль">
							<label for="psw" class="ps"></label>
							<span class="required_now" id='pass_alert' style="display:none">* Неверно введен пароль</span>
							<span class="required_now" id='error_alert' style="display:none"></span>
							<button class="entrance" onclick="logIn()">Вход</button>
							<!--<div class="bottom_form" id='remember_me'>
								<input type="checkbox" class="checkbox" id="check">
								<label for="check">Запомнить меня</label>
									<a href="#" class="password_link">Забыли пароль?</a>
							</div>-->
						</div>
					</div>
					<div class="popap" id='popup_div'>
								<div class="pop_cont">
									<p id='popup_text'></p>
									<span onclick='hidePopup()' class="close">x</span>
								</div>
							</div>
				</section>
			<!--end content-->
			</div>
		<!--end main-->
			<footer>
			</footer>
		</div>
		<div class="hidden"></div>
		<!--[if lt IE 9]>
		<script src="{% static 'libs/html5shiv/es5-shim.min.js' %}"></script>
		<script src="{% static 'libs/html5shiv/html5shiv.min.js' %}"></script>
		<script src="{% static 'libs/html5shiv/html5shiv-printshiv.min.js' %}"></script>
		<script src="{% static 'libs/respond/respond.min.js' %}"></script>
		<![endif]-->
		<script src="{% static 'libs/jquery/jquery-2.1.3.min.js' %}"></script>
		<script src="{% static 'js/lib.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script src="{% static 'js/menu.js' %}"></script>
		<script src="{% static 'js/entry.js' %}"></script>

	</body>
</html>