{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
		<!--begin main-->
			<div class="main">
			<!--begin content-->
				<section class="container">
					{% block sidebar %}
						{% include 'include/sidebar.html' %}
					{% endblock %}
<div class="reports_container reports_wrap">
						<h3 class="topic_cont">Уведомления</h3>
						<div class="top_container_head">
							<div class="top_block_head_right">
								<ul>
									<!--<li>
										<a href="#" class="active">Вид 1</a>
									</li>
									<li>
										<a href="#">Вид 2</a>
									</li>
								-->
								</ul>
							</div>
						</div>
						<!--<div class="filters_block">
							<strong class="topic_container">Фильтры</strong>
						</div>
						<div class="content_block">

							</div>
							-->
							<div class="event_cont" id='notifications'>
							</div>
						</div>

				</section>
			<!--end content-->
			</div>
		<!--end main-->
		</div>
{% endblock %}
{% block script %}
		<script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}