{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
        <!--begin main-->
            <div class="main">
            <!--begin content-->
                    <section class="container">
                    {% block sidebar %}
                        {% include 'include/sidebar.html' %}
                    {% endblock %}
                    <div class="summits_container">
                        <h3 class="topic_cont">Настройки</h3>
                        <div class="top_container_head">
                            <div class="top_block_head_left">
                                <ul>
                                    <li>
                                        <a href="/settings_events">События</a>
                                    </li>
                                    <li>
                                        <a href="" class="active">Отчеты</a>
                                    </li>
                                <!--    <li>
                                        <a href="settings_meetings">Встречи</a>
                                    </li>
                                    -->
                                </ul>
                            </div>
                        </div>
                        <div id="summit_drop"></div>
                        <div id="summit_table" style="margin-top:20px;"><table><tr><td>ФИО</td><td>Телефон</td><td>Город</td><td>Иерархия</td><td>Оплачено</td></tr></table></div>
                    </div>
                                    </section>
            <!--end content-->
            </div>
        <!--end main-->
        </div>
                {% endblock %}
{% block script %}
        <script src="{% static 'js/summits.js' %}"></script>
{% endblock %}
